<div>
	<h4>Another child component</h4>
	<input id="nametemp" @attributes="InputAttributes"/>
</div>


@code {
	//[Parameter]

	//public string Placeholder { get; set; } = "Initial text";
	//[Parameter]
	//public string Required { get; set; } = "required";

	//[Parameter]
	//public string MaxLength { get; set; } = "10";

	[Parameter]

	public Dictionary<string, object> InputAttributes { get; set; } = new Dictionary<string, object>(){
		{"required","required"},
		{"placeholder","Initial Text"},
		{"maxlength",15}
	};
}
