<div class="row">
	<h4 class="text-primary pl-4 pt-2 col-12">Grand Child Component</h4>
	<p>There is a message -@MessageForGrandChild</p><br/>
	<p>There is another message -@LuckyNumber</p><br/>
</div>

@code {
	[CascadingParameter(Name = "message")]
	public string MessageForGrandChild { get; set; }

	[CascadingParameter(Name = "luckynumber")]
	public string LuckyNumber { get; set; }
}
